@font-face {
  font-family: 'digital-7-mono-italic';
  src: local('digital-7-mono-italic'), url(./fonts/digital-7-mono-italic.ttf) format('truetype');
}

.App {
  background-color: red
}

.Calculator {
  font-family: 'digital-7-mono-italic';
  position: absolute;
  top: 0;
  left: 0;
  border: thick double #32a1ce;
  padding: 2px;
}

.displayPanel {
  border: solid black;
  display: flex;
  align-items: center; 
  justify-content: flex-end;
}

.button {
  border: solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
