@font-face {
  font-family: 'digital-7-mono-italic';
  src: local('digital-7-mono-italic'), url(./fonts/digital-7-mono-italic.ttf) format('truetype');
}

.App {
  background-color: red
}

.Calculator {
  font-family: 'digital-7-mono-italic';
  font-size: 2.5em;
  position: absolute;
  top: 0;
  left: 0;
  border: thick double #32a1ce;;
}

.displayPanel {
  border: solid black;
  background-color: gray
}

.button {
  border: solid black;
}
